{% extends 'accounts/password_reset_form.html' %}
{% block content %}
<style>
    .login-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(135deg, rgba(240, 247, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 100%),
            url('/static/clipapp/images/hero_image.jpg');
    min-height: 100vh;
}
.help-text{
    font-size: 12px;
    padding-left: 33px;
    font-style: italic;
}

.errorlist{
  list-style: none;
    font-size: 12px;
    padding-right: 15px;
}
</style>
<div class="login-box"> 
    <div class="container">
        <div class="tabs">
            <div class="tab active">Reset Password</div>
        </div>
        <form id="reset-form" method="post">
    {% csrf_token %}
    <div class="form-group">
        {% for field in form %}
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
            
            <!-- Custom rendering of help_text -->
            {% if field.help_text %}
                <small class="help-text">{{ field.help_text }}</small>
            {% endif %}
            
            <!-- Display errors -->
            {% if field.errors %}
                <div class="error" style="color: red;">{{ field.errors }}</div>
            {% endif %}
        {% endfor %}
    </div>
    <button type="submit">Reset Password</button>
</form>
    </div>
</div>

{% endblock %}