{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>{% block title %}ClipBuddy{% endblock %}</title>
    <link rel="stylesheet" href="{%  static 'clipapp/styles/index.css' %}">
    <link rel="stylesheet" href="{%  static 'clipapp/styles/login.css' %}">
</head>

<body>
    <nav class="navbar">
        <div class="nav-container">
            <a href="#" class="logo">ClipBuddy</a>
            <div class="nav-links">
                <a href="{% url 'clipapp:home' %}">Home</a>
                <a href="#contact">Contact</a>
                <a href="{% url 'clipapp:login' %}" class="cta-button">Get Started</a>
            </div>
            <button class="mobile-menu-btn">☰</button>
        </div>
    </nav>
    {% block content %}
    {% endblock %}
</body>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const menuButton = document.querySelector(".mobile-menu-btn");
        const navLinks = document.querySelector(".nav-links");

        menuButton.addEventListener("click", () => {
            navLinks.classList.toggle("active");
        });
    });
</script>

</html>